# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# VSCode
.vscode
.metals
.bloop
.target
.idea/.gitignore
.idea/.name
.idea/aws.xml
.idea/git_toolbox_prj.xml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/sbt__com_chuusai_shapeless_2_12_2_3_7_jar.xml
.idea/libraries/sbt__com_esotericsoftware_kryo_kryo_2_24_0_jar.xml
.idea/libraries/sbt__com_esotericsoftware_minlog_minlog_1_2_jar.xml
.idea/libraries/sbt__com_github_luben_zstd_jni_1_4_3_1_jar.xml
.idea/libraries/sbt__com_github_scopt_scopt_2_12_3_5_0_jar.xml
.idea/libraries/sbt__com_google_code_findbugs_jsr305_1_3_9_jar.xml
.idea/libraries/sbt__com_snowplowanalytics_iglu_core_2_12_1_0_0_jar.xml
.idea/libraries/sbt__com_snowplowanalytics_iglu_core_circe_2_12_1_0_0_jar.xml
.idea/libraries/sbt__com_snowplowanalytics_snowplow_scala_analytics_sdk_2_12_2_1_0_jar.xml
.idea/libraries/sbt__com_twitter_chill_2_12_0_7_6_jar.xml
.idea/libraries/sbt__com_twitter_chill_java_0_7_6_jar.xml
.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_12_2_5_21_jar.xml
.idea/libraries/sbt__com_typesafe_akka_akka_protobuf_2_12_2_5_21_jar.xml
.idea/libraries/sbt__com_typesafe_akka_akka_slf4j_2_12_2_5_21_jar.xml
.idea/libraries/sbt__com_typesafe_akka_akka_stream_2_12_2_5_21_jar.xml
.idea/libraries/sbt__com_typesafe_config_1_3_3_jar.xml
.idea/libraries/sbt__com_typesafe_ssl_config_core_2_12_0_3_7_jar.xml
.idea/libraries/sbt__commons_cli_commons_cli_1_3_1_jar.xml
.idea/libraries/sbt__commons_collections_commons_collections_3_2_2_jar.xml
.idea/libraries/sbt__commons_io_commons_io_2_8_0_jar.xml
.idea/libraries/sbt__io_circe_circe_core_2_12_0_14_1_jar.xml
.idea/libraries/sbt__io_circe_circe_generic_2_12_0_14_1_jar.xml
.idea/libraries/sbt__io_circe_circe_jawn_2_12_0_14_1_jar.xml
.idea/libraries/sbt__io_circe_circe_numbers_2_12_0_14_1_jar.xml
.idea/libraries/sbt__io_circe_circe_parser_2_12_0_14_1_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_compress_1_21_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_lang3_3_3_2_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_math3_3_5_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_annotations_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_clients_2_12_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_connector_base_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_connector_kafka_2_12_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_core_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_file_sink_common_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_hadoop_fs_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_java_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_metrics_core_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_optimizer_2_12_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_queryable_state_client_java_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_runtime_2_12_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_scala_2_12_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_shaded_asm_7_7_1_13_0_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_shaded_guava_18_0_13_0_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_shaded_jackson_2_12_1_13_0_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_shaded_netty_4_1_49_Final_13_0_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_shaded_zookeeper_3_3_4_14_13_0_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_streaming_java_2_12_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_flink_streaming_scala_2_12_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_flink_force_shading_1_13_6_jar.xml
.idea/libraries/sbt__org_apache_kafka_kafka_clients_2_4_1_jar.xml
.idea/libraries/sbt__org_clapper_grizzled_slf4j_2_12_1_3_2_jar.xml
.idea/libraries/sbt__org_javassist_javassist_3_24_0_GA_jar.xml
.idea/libraries/sbt__org_lz4_lz4_java_1_6_0_jar.xml
.idea/libraries/sbt__org_objenesis_objenesis_2_1_jar.xml
.idea/libraries/sbt__org_reactivestreams_reactive_streams_1_0_2_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_java8_compat_2_12_0_8_0_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_12_1_1_1_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_12_1_3_0_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_compiler_2_12_16_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_12_16_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_reflect_2_12_16_jar.xml
.idea/libraries/sbt__org_scalactic_scalactic_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_compatible_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_core_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_diagrams_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_featurespec_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_flatspec_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_freespec_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_funspec_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_funsuite_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_matchers_core_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_mustmatchers_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_propspec_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_refspec_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_shouldmatchers_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_wordspec_2_12_3_2_7_jar.xml
.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_28_jar.xml
.idea/libraries/sbt__org_typelevel_cats_core_2_12_2_6_1_jar.xml
.idea/libraries/sbt__org_typelevel_cats_kernel_2_12_2_6_1_jar.xml
.idea/libraries/sbt__org_typelevel_jawn_parser_2_12_1_1_2_jar.xml
.idea/libraries/sbt__org_typelevel_simulacrum_scalafix_annotations_2_12_0_5_4_jar.xml
.idea/libraries/sbt__org_xerial_snappy_snappy_java_1_1_8_3_jar.xml
.idea/modules/smartocto-learning-build.iml
.idea/modules/smartocto-learning.iml
